@import url('https://fonts.googleapis.com/css2?family=Caladea&family=IBM+Plex+Serif&family=Roboto+Slab:wght@300&family=Sacramento&family=Young+Serif&display=swap');

:root {
    --bodyBgColor: rgb(1 35 36);
    --bodyBgColor2: rgb(1 41 38);
    --headerColor: rgb(2 26 1);
    --anchorColor: beige;
    --anchorColorHover: rgb(11, 248, 228);
    --textColor: #fff;
    --imageShadow: rgb(0 255 212);
    --imageShadowHover: rgba(0, 255, 213, 0.767);
    --day: rgb(0, 24, 10);
    --classSpan: rgb(255 159 159);
    --objectSpan: rgb(187 175 255);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

html {
    font-size: 1rem;
    overflow-x: hidden;
}

body {
    color: var(--textColor);
    overflow-x: hidden;
    background-color: var(--day);
}

section {
    min-height: calc(100vh - 82px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 5rem;
    font-family: 'Sacramento', cursive;
}

h2 {
    font-size: 3.5rem;
    font-family: 'Young Serif', serif;
}

h3 {
    font-size: 2.3rem;
    font-family: 'IBM Plex Serif', serif;
}

p,
span {
    font-family: 'Caladea', serif;
}

span {
    color: var(--anchorColorHover);
}

#classSpan{
    color: var(--classSpan);
}
.classSpan{
    color: var(--classSpan);
}

#objectSpan{
    color: var(--objectSpan);
}
.objectSpan{
    color: var(--objectSpan);
}

a {
    font-family: 'Roboto Slab', serif;
    cursor: pointer;
    text-decoration: none;
    color: var(--anchorColor);
    font-weight: bold;
}

section .theme{
    position: fixed;
    z-index: 20;
    top: 30px;
    right: 30px;
}

section .theme #mode {
    cursor: pointer;
    font-size: 30px;
    color: var(--textColor);
    transition: all 0.2s ease-in-out;
}

.solution-container .answer{
    margin-bottom: 50px;
}

.problem-name h1{
    margin: 80px 0px 20px 0px;
}

.solution-container .answer h3{
    color: var(--anchorColorHover);
    margin-bottom: 20px;
}

.solution-container .answer pre {
    white-space: pre-wrap;
    background-color: #000;
    padding-left: 0px;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
}

.solution-container .answer pre code {
    display: block;
    /* white-space: pre-wrap; */
    padding-left: 0; 
    margin-top: 0; 
    transform: translateX(-15ch); 
}

.solution-container .answer button{
    background-color: transparent;
    cursor: pointer;
    color: rgb(206, 204, 204);
    font-size: 15px;
    margin-left: 85%;
}

.footer {
    padding: 0px 25vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bodyBgColor);
    height: 68px;
}

.footer #year{
    color: var(--textColor);
}

.footer .footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    background-color: var(--anchorColorHover);
    border-radius: 0.8rem;
    transition: all 0.4s ease-in-out;
}

.footer .footer-iconTop a i {
    color: var(--bodyBgColor);
    font-size: 1.5rem;
}

.footer .footer-iconTop a:hover {
    box-shadow: 0 0 10px 1px var(--anchorColorHover);
}


/* breakpoints */

@media only screen and (max-width: 1300px) {
    header {
        padding: 1.5rem 3%;
    }

    header h3 {
        font-size: 25px;
    }
    .solution-container .answer button{
        font-size: 12px;
    }
}


@media only screen and (max-width: 1275px) {
    html {
        font-size: 75%;
    }

    section {
        padding: 10rem 3% 2rem;
        min-height: calc(100vh - 81.19px);
    }
    .problem-name h1{
        margin: 50px 0px 20px 0px;
    }

    footer {
        padding: 2rem 3%;
    }
}

@media only screen and (max-width: 970px) {
    /* html {
        font-size: 60%;
    } */
    
    section {
        padding: 10rem 3% 2rem;
        min-height: calc(100vh - 78.78px);
    }

    section .theme #mode {
        font-size: 25px;
    }
    
    .problem-name h1{
        font-size: 3.5rem;
        margin: 50px 0px 20px 0px;
    }

    .solution-container .answer pre{
        margin-left: 0px;
    }
    .solution-container .answer button{
        margin-left: 70%;
    }

    .footer {
        padding: 0px 15vw;
    }

    .solution-container .answer button{
        font-size: 10px;
    }
}

@media only screen and (max-width: 480px) {
    .problem-name h1{
        font-size: 3rem;
        margin: 10px 0px 20px 0px;
    }

    h3{
        font-size: 2rem;
    }

    pre{
        font-size: 7px; 
        margin: 0;   
    }
    
}

@media only screen and (max-width: 415px) {
    .problem-name h1{
        font-size: 2rem;
        margin: 10px 0px 20px 0px;
    }

    h3{
        font-size: 1rem;
    }

    pre{
        font-size: 7px;  
    }
    
}
@media only screen and (max-width: 320px) {   
    
    .solution-container .answer pre {
        font-size: 6px;  
        margin-left: 0;
        padding-left: 10px;
        padding-right: 10px;
    }

    .solution-container .answer pre code {
        transform: none;
    }
}